.icon.air-condition
{
    background-image: url("/images/air-condition.png");
}

.icon.computer
{
    background-image: url("/images/computer.png");
}

.icon.pump
{
    background-image: url("/images/pump.png");
}

.icon.server
{
    background-image: url("/images/server.png");
}

.icon.fridge
{
    background-image: url("/images/fridge.png");
}